

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: blueviolet;
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_container {
    width: 500px;
    background-color: transparent;
    padding: 30px 0;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.login_container h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.input_box {
    width: 100%;
    height: 50px;
    border: none;
    margin: 30px 0;
    position: relative;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 40px;
    padding-left: 30px;
    color: #fff;
} 

.input_box input::placeholder {
    color: #fff;
    font-size: 16px;
}

.input_box i {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;

}
.remember_forgot {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.remember_forgot  label{
    color: #fff;
    font-size: 18px;

}

.remember_forgot  label input{
    color: #fff;
    margin-right: 10px;
}

.remember_forgot  a{
    color: #fff;
    text-decoration: none;
}

.remember_forgot  a:hover{
    color: #000;
    text-decoration: underline;
}

.btn {
    font-size: 24px;
    font-size: 600;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0;
}

.btn:hover {
    background-color: #000;
    box-shadow: 0 0 30px rgba(207, 166, 16, 0.3);
    color: #fff;
}

.register_link {
font-size: 20px;
text-align: center;
color: #fff;
padding: 10px 0;
}

.register_link a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
.register_link a:hover {
    color: #000;
    text-decoration: underline;
}